{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Introduction Section -->
<div class="container mt-3">
    <div class="row">
        {% if not user.is_authenticated %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Welcome to Our Fishing Community!</h4>
                <p>We invite you to join our community to share your fishing experiences, connect with other anglers, and keep track of your catches. Registering an account allows you to create your own fishing diary and interact with fellow fishing enthusiasts.</p>
                <hr>
                <p class="mb-0">Don't miss out on the fun – <a href="{% url 'account_signup' %}">Register Now</a>!</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Catch Entries Column -->
<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">
                {% for catch in catch_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in catch.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                  alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src="{{ catch.featured_image.url }}"
                                  alt="{{ catch.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Caught by {{ catch.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'catch_detail' catch.slug %}" class="catch-link">
                                <h2 class="card-title">{{ catch.fish_species }}</h2>
                            </a>

                            <p class="card-text">Length: {{ catch.fish_length }} | Weight: {{ catch.fish_weight }}</p>
                            <p class="card-text text-muted h6">Created on: {{ catch.created_on }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
